site_name: Andrei's CTF Writeups
site_url: https://andrei2308.github.io/ctf-challenges/
repo_url: https://github.com/andrei2308/ctf-challenges
repo_name: andrei2308/ctf-challenges

theme:
  name: material
  palette: 
    - scheme: slate
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - search.suggest        
    - search.highlight     
    - navigation.expand    
    - content.code.copy     

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition              
